@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #664C89;
  --color-primary-light: #DAD0FC;
  --color-primary-dark: #320747;
  --color-background-light: #DAD0FC;
  --color-background-dark: #1F2937;
  --color-lightText: #664C89;
  --color-darkText: #303030;
  --color-greyText: #D9D9D9;
  --color-danger: #F81717;
  --color-color-green: #0FEB90;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(12, 155, 155, 0.527);
  }